<div class="container-fluid d-flex flex-column justify-content-around align-items-center m-5">
    <img class="w-25 h-25 m-2" src="/images/beer.png" alt="beer"/>
    <a class="w-25 h-25 text-center mt-4 btn btn-primary" href="/beers">Check the Beers!</a>
    <a class="w-25 h-25 text-center m-3 btn btn-primary" href="/random-beer">Random beer!</a>
</div>